$st-homecard-bg: map-get($colours, jet);
$st-content-topbar-bg: map-get($colours, charcol);
$st-content-text-white: map-get($colours, white);

.st-content-topbar {
  background-color: $st-content-topbar-bg;
  padding: rem($g-spacing) 0;
  margin-bottom: rem(34);
  text-transform: capitalize;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.st-content-topbar__title {
  color: $st-content-text-white;
  font-size: rem($g-font-size-x-lg);
  text-transform: capitalize;
}

.st-content-wrapper {
  display: flex;
  flex-flow: wrap;
}

.st-content-card {
  margin-right: rem($g-spacing-sm);
}

// a tag
.st-content-card-wrapper {
  cursor: pointer;
  text-decoration: none;
}

.st-content-card__artbox {
  background-color: $st-homecard-bg;
  height: rem(200);
  width: rem(135);
  margin-bottom: rem($g-spacing-x-sm);
  text-align: center;
  position: relative;
  overflow: hidden;
}


.st-content-card__artbox__text {
  color: map-get($colours, white);
  font-size: rem($g-font-size-x-lg);
  font-weight: $g-font-weight-semibold;
  text-transform: uppercase;
  margin: 0;
}

.st-content-card__label {
  font-size: rem($g-font-size-sm);
  font-weight: $g-font-weight-semibold;
  text-decoration: none;
  text-transform: capitalize;
}
